@media only screen and (max-width:1366px) {
.profile-right-sec {
	padding: 30px 50px 30px 50px;
}	
.profile-info {
	padding-left: 28px;
}
.profile-info h3 {
	font-size: 26px;
	line-height: 35px;
}	
.profile-bottom-info-sec ul li {
	padding: 15px 20px 15px 25px;
	font-size: 18px;
	line-height: 21px;
}
.profile-info-right-desc {
	width: 60%;
}
.profile-qr-inner {
	padding: 25px 30px;
	margin-bottom: 33px;
}
.profile-qr p {
	padding-bottom: 30px;
}
.profile-top-sec {
	margin-bottom: 40px;
}
.profile-bottom-info-sec ul li:not(:last-child) {
	margin-bottom: 25px;
}

/*20-01-2023*/
.dashaboard-main-sec .col-lg-5 {
	width: 36%;
	padding-left: 40px;
}
.dashaboard-main-sec .col-lg-7 {
	width: 64%;
}
.tab-inner-wrap .user-img-title-wrap h4 {
	padding-left: 15px;
}
.tab-inner-wrap ul li .user-info > div.quick-info-btn {
	padding-right: 0;
}
.tab-inner-wrap ul li .user-info {
	padding: 10px 12px 10px 8px;
}
.graph-title-content-wrap h2 {
	font-size: 25px;
}
.send-top-sec p, .send-pay-title-sec p {
	font-size: 15px;
	line-height: 20px;
}
.send-top-sec h3, .send-pay-title-sec h3 {
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 10px;
}
.add-contact-btn-wrap .btn {
	padding: 11px 17px;
	font-size: 15px;
	line-height: 24px;
}
.main-search-wrap {
	width: calc(100% - 180px);
	max-width: 327px;
	margin-right: 20px;
}
.send-top-sec {
	padding-bottom: 50px;
	padding-right: 30px;
}
.send-whom-slider .contact-name {
	font-size: 17px;
}
.send-whom-slider .img-wrap img {
	border-radius: 47%;
	max-height: 110px;
}
.send-whom-slider .img-wrap {
	max-width: 118px;
	max-height: 118px;
	margin: 0 auto 13px;
}
.send-whom-slider .swiper-wrapper {
	padding-bottom: 47px;
}
.send-btn-wrap {
	padding-top: 45px;
}
.send-btn-wrap .btn-group-payment, .pay-btn-wrap .btn-cancel-payment, .send-btn-wrap .btn-group-cancel, .send-btn-wrap .btn-cancel-payment {
	padding: 9px 24px 10px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 15px !important;
}
.send-btn-wrap .btn-next, .pay-btn-wrap .btn-send-payment {
	margin: 0 35px 0 20px;
	font-size: 17px;
	line-height: 23px;
	padding: 11px 42px;
	border-radius: 15px !important;
}
.send-btn-wrap .save-group-btn, .pay-btn-wrap .schedule-pay-btn, .pay-btn-wrap .print-details-btn {
	font-size: 17px;
	line-height: 24px;
}
.send-btn-wrap .save-group-btn svg, .pay-btn-wrap .schedule-pay-btn svg, .pay-btn-wrap .print-details-btn svg {
	margin-right: 11px;
}
.send-main-sec .dashboard-top-sec, .send-group-main-sec .dashboard-top-sec {
	padding-bottom: 40px;
	padding-right: 30px;
}
.send-whom-slider .img-wrap::after {
	width: 30px;
	height: 30px;
	background-size: 15px auto;
}
.payment-blocks-listing li {
	padding: 16px 20px;
}
.payee-name h4 {
	font-size: 16px;
	padding-left: 16px;
}
.payment-blocks-listing li > div.specification-input {
	min-width: 320px;
}
.payment-footer-block {
	padding: 35px 60px;
}
.payment-footer-block ul .payment-footer-col-label {
	font-size: 20px;
	line-height: 24px;
	padding: 0 0 12px;
}
.payment-footer-block .amount {
	font-size: 27px;
	line-height: 26px;
}
.amount-currency-wrap .selec-wrap select {
	font-size: 26px;
	line-height: 26px;
	max-width: 78px;
	padding-right: 20px;
}
.payment-footer-block ul > li:nth-child(2) {
	padding: 0 30px;
}
.payment-footer-block ul {
	justify-content: space-between;
}
.payment-blocks-listing .input-select-wrap {
	max-width: 240px;
}
.send-group-slider .img-wrap img {
	max-height: 54px;
	max-width: 75px;
}
.send-group-slider .contact-name {
	max-width: 121px;
}
.send-group-slider .img-wrap {
	height: 118px;
}
.send-group-slider .img-wrap {
	height: 116px;
}
.request-whom-slider .contact-name {
	max-width: 133px;
}
.request-pay-footer-block {
	padding: 0 0 3px 19px !important;
}
}


@media only screen and (max-width:1199px) {
.profile-right-sec {
	padding: 30px 30px 30px 30px;
}
.profile-avtar {
	width: 112px;
	height: 112px;
	border-radius: 50px;
}	
.profile-avtar > img {
	max-width: 112px;
	height: auto;
}	
.profile-info {
	padding-left: 20px;
}
.profile-info h3 {
	font-size: 22px;
	line-height: 30px;
}
.profile-top-sec {
	margin-bottom: 30px;
}
.profile-bottom-info-sec ul li:not(:last-child) {
	margin-bottom: 20px;
}
.profile-info-right-desc {
	width: 65%;
}
.profile-bottom-info-sec ul li {
	padding: 15px 15px 15px 15px;
	font-size: 16px;
	line-height: 17px;
}
.profile-qr-inner {
	padding: 20px 20px;
	margin-bottom: 30px;
	border-radius: 25px;
}
.profile-qr-inner img {
	max-width: 185px;
	height: auto;
}
/*20-01-2023*/
.graph-title-content-wrap h2 {
	font-size: 23px;
	line-height: 35px;
}
.dashaboard-main-sec .col-lg-7 {
	width: 100%;
}
.dashaboard-main-sec .col-lg-5 {
	width: 100%;
	padding-left: 0;
}
.extra-links-wrap ul li a {
	font-size: 15px;
	padding: 15px 15px 15px 14px;
}
.extra-links-wrap ul > li:not(:last-child) {
	margin-bottom: 11px;
}
.dashboard-card-links-sec {
	padding-top: 20px;
}
.dashaboard-main-sec .dashboard-search-wrap {
	width: 70%;
}
.dashaboard-main-sec .dashboard-notification-sec {
	width: 30%;
}
.user-profile ul li a {
	font-size: 13px;
}
.user-profile ul > li:not(:last-child) {
	margin-bottom: 23px;
}	
.card-slider .swiper::after {
	width: 44px;
	height: 100%;
	bottom: 0;
	top: 0;
	background-size: 100% 100%;
}
.recent-contact-slider .swiper::after {
	right: 35px;
}
.tab-inner-wrap p {
	margin-bottom: 8px;
	padding-top: 9px;
}
.tab-inner-wrap .user-img-title-wrap h4 {
	padding-left: 14px;
}
.dashboard-card-sec .title-content-wrap {
	padding-top: 19px;
	padding-bottom: 20px;
}
.extra-links-wrap {
	padding-top: 20px;
}
.view-history-btn > a {
	padding: 12px 26px;
	font-size: 14px;
	line-height: 17px;
	border-radius: 8px;
}
.card-slider .swiper-wrapper, .recent-contact-slider .swiper-wrapper {
	padding-bottom: 40px;
}
.recent-contact-slider .swiper-slide img {
	border-radius: 50%;
	max-height: 112px;
	object-fit: cover;
	max-width: 112px;
}
.recent-contact-slider .swiper::after {
	right: 0;
	height: 112px;
	width: 60px;
}
.send-main-sec .dashboard-top-sec, .send-group-main-sec .dashboard-top-sec {
	padding-bottom: 35px;
	padding-right: 20px;
}
.add-contact-btn-wrap .btn {
	padding: 11px 15px;
	font-size: 14px;
	line-height: 24px;
	border-radius: 15px !important;
}
.main-search-wrap {
	width: calc(100% - 160px);
	max-width: 327px;
	margin-right: 13px;
}
.send-top-sec p, .send-pay-title-sec p {
	font-size: 14px;
	line-height: 19px;
}
.send-top-sec h3, .send-pay-title-sec h3 {
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 9px;
}
.send-top-sec .title-content-wrap {
	width: 43%;
}
.send-top-right-sec {
	width: 57%;
	padding-left: 12px;
}
.send-whom-slider .img-wrap {
	max-width: 116px;
	max-height: 116px;
	margin: 0 auto 10px;
}
.send-whom-slider .img-wrap img {
	border-radius: 47%;
	max-height: 108px;
}
.send-whom-slider .contact-name {
	font-size: 15px;
	padding: 0 2px;
	line-height: 20px;
}
.send-whom-slider .swiper-button-next, .send-whom-slider .swiper-button-prev {
	right: 29px;
}
.send-whom-slider .swiper-button-prev {
	right: 65px;
}
.send-whom-slider .swiper-horizontal > .swiper-scrollbar, .send-whom-slider .swiper-scrollbar.swiper-scrollbar-horizontal {
	width: calc(100% - 95px);
}
.send-btn-wrap {
	padding-top: 35px;
}
.send-btn-wrap .btn-group-payment, .pay-btn-wrap .btn-cancel-payment, .send-btn-wrap .btn-group-cancel, .send-btn-wrap .btn-cancel-payment {
	padding: 9px 16px 10px;
	font-size: 15px;
	line-height: 24px;
	border-radius: 15px !important;
}
.send-btn-wrap .btn-next, .pay-btn-wrap .btn-send-payment {
	margin: 0 25px 0 15px;
	font-size: 15px;
	line-height: 23px;
	padding: 11px 34px;
}
.send-btn-wrap .save-group-btn, .pay-btn-wrap .schedule-pay-btn, .pay-btn-wrap .print-details-btn {
	font-size: 15px;
	line-height: 22px;
}
.send-top-sec {
	padding-bottom: 35px;
	padding-right: 30px;
}
.one-time-pay-main-sec {
	padding: 40px 30px 40px 45px;
}
.payment-blocks-listing li {
	padding: 15px 15px;
}
.payment-blocks-inner form .input-select-wrap .form-control {
	font-size: 18px;
	padding: 9px 18px !important;
}
.payment-blocks-listing .input-select-wrap .selec-wrap::after, .amount-currency-wrap .selec-wrap::after {
	right: 7px;
}
.payment-blocks-listing .input-select-wrap {
	max-width: 200px;
}
.payment-blocks-inner form .input-select-wrap select.form-control {
	font-size: 16px;
	line-height: 35px;
	padding: 0 20px 0 13px !important;
	max-width: 75px;
}
.payment-blocks-inner form .input-select-wrap .form-control {
	font-size: 15px;
	padding: 12px 17px !important;
}
.payment-blocks-listing .input-select-wrap .selec-wrap {
	right: 18px;
	top: 6px;
}
.remove-btn .close-icons {
	width: 40px;
	height: 40px;
}
.payment-blocks-inner form .form-field .form-control {
	padding: 12px 17px !important;
	font-size: 15px;
}
.payment-blocks-inner form .input-select-wrap .form-control {
	padding-right: 93px !important;
}
.payment-blocks-inner form .form-field .form-control::placeholder {
	font-size: 14px;
}
.payment-blocks-listing li > div.specification-input {
	min-width: 240px;
}
.payment-blocks-inner form .input-select-wrap .form-control::placeholder {
	font-size: 16px;
}
.payment-blocks-listing li > div {
	padding: 0 8px;
}
.payment-footer-block {
	padding: 35px 25px;
}
.payment-footer-block .amount {
	font-size: 22px;
	line-height: 20px;
}
.payment-footer-block ul .payment-footer-col-label {
	font-size: 17px;
	line-height: 21px;
	padding: 0 0 9px;
}
.amount-currency-wrap .selec-wrap select {
	font-size: 20px;
	line-height: 24px;
	max-width: 67px;
	padding-right: 22px;
}
.amount-currency-wrap .selec-wrap {
	padding-left: 12px;
}
.payment-blocks-listing {
	padding-bottom: 29px;
}
.payment-blocks-listing li {
	padding: 15px 10px;
}
.payee-name h4 {
	font-size: 14px;
	padding-left: 10px;
}
.payee-name-img-wrap .payee-img {
	width: 50px;
	height: 50px;
}
.payee-name-img-wrap .payee-img img {
	max-height: 50px;
}
.send-group-slider .img-wrap img {
	max-height: 54px;
	max-width: 70px;
}
.send-group-slider .contact-name {
	max-width: 95px;
}
.group-payment-block .payee-name-img-wrap .payee-img img {
	max-height: 19px;
	border-radius: 0;
}
.send-main-sec .main-search-wrap {
	margin-right: 12px;
}
.request-whom-slider .contact-name {
	max-width: 107px;
}
.request-pay-footer-block {
	padding: 0 0 3px 9px !important;
}
.request-pay-footer-block .amount .request-currency {
	margin-left: 5px;
}
.request-pay-footer-block .amount {
	font-size: 24px;
	line-height: 20px;
}
}


@media only screen and (max-width:991px) {
.logo-image img {
	max-width: 250px;
}
.logo-content-wrap h4 {
	font-size: 26px;
	line-height: 35x;
	padding: 38px 0 40px;
}	
.login-signup-content-wrap {
	max-height: 85vh;
	overflow-y: auto;
}	
.login-signup-content-wrap h4.blue-text {
	margin-bottom: 45px;
	font-size: 24px;
}
.login-signup01-content-wrap .radio-wrap {
	margin-bottom: 54px;
}
.login-signup-02 .login-signup-content-wrap h4.blue-text {
	margin-bottom: 40px;
}
.login-signup-03 .login-signup-content-wrap h5 {
	padding-top: 10px;
	margin-bottom: 10px;
}
.login-signup-03 .login-signup-content-wrap h4.blue-text {
	margin-bottom: 35px;
}
.profile-qr {
	max-width: 225px;
	margin: 40px auto 0 0;
}
.profile-info-right-desc .edit-button {
	width: 28px;
	height: 28px;
}
.profile-info-right-desc .edit-button svg {
	max-width: 18px;
}
.profile-bottom-info-sec ul li {
	padding: 13px 15px 13px 15px;
	font-size: 15px;
	line-height: 20px;
}
.profile-bottom-info-sec ul li:not(:last-child) {
	margin-bottom: 15px;
}
.profile-top-sec {
	margin-bottom: 25px;
}
.profile-avtar {
	width: 100px;
	height: 100px;
	border-radius: 40px;
}
.profile-avtar > img {
	max-width: 96px;
	height: auto;
}
.profile-info {
	padding-left: 15px;
}
.profile-info h3 {
	font-size: 20px;
	line-height: 28px;
}
.profile-qr-inner img {
	max-width: 155px;
	height: auto;
}
.settings-bottom-info-sec ul li {
	padding: 13px 15px;
	border-radius: 15px;
}
.icon-wrap {
	font-size: 15px;
}
.icon-settings {
	margin-right: 13px;
}
.settings-notifications-bottom-info-sec ul li {
	padding: 13px 25px;
	font-size: 15px;
}
.settings-notifications-bottom-info-sec ul {
	padding-bottom: 40px;
}
.settings-edit-profile-top-sec {
	padding-bottom: 35px;
}
.currency-wrap {
	font-size: 19px;
	line-height: 24px;
	padding: 10px 0 25px;
}
.settings-edit-profile-top-sec .profile-info {
	padding-top: 20px;
}
.business-info-sec .profile-info {
	padding: 0 0 15px;
}
.business-url-field p, .business-id-field p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 11px;
}
.business-id-field p {
	padding-top: 9px;
}
.business-info-bottom-sec .login-btn {
	padding-top: 17px;
}
.settings-password-bottom-info-sec .nav-tabs .nav-link {
	font-size: 17px;
	line-height: 22px;
}
.settings-password-bottom-info-sec .nav-tabs .nav-link:not(:last-child) {
	margin-right: 38px;
}
.settings-password-bottom-info-sec .nav-tabs {
	padding-bottom: 30px;
}
.settings-password-bottom-info-sec .login-btn {
	padding-top: 19px;
}
.settings-password-bottom-info-sec .forgot-pass-btn-wrap input[type="submit"] {
	font-size: 14px;
	min-width: auto;
	padding: 14px 30px;
}
.forgot-pass-btn-wrap .setting-btn-link > a, .settings-password-bottom-info-sec .setting-btn-link > a {
	font-size: 15px;
	padding: 10px 32px 10px 22px;
}
.forgot-pass-btn-wrap .setting-btn-link a svg, .settings-password-bottom-info-sec .setting-btn-link > a svg {
	margin-right: 9px;
	width: 8px;
	height: auto;
}
.settings-password-bottom-info-sec .setting-btn-link {
	padding-right: 15px;
}
.settings-password-bottom-info-sec .login-btn input[type="submit"] {
	min-width: 130px;
	font-size: 14px;
	padding: 14px 30px;
}
/*20-01-2023*/
.modal-content {
	padding: 45px 60px 40px;
}
.modal-header {
	padding: 0 0 24px;
}
.modal-body h3 {
	font-size: 27px;
	line-height: 27px;
	padding-bottom: 12px;
}
form.verification-code-form .form-field .form-control {
	max-width: 57px;
	font-size: 21px;
	line-height: 20px;
	padding: 15.5px 10px !important;
	margin: 0 9px;
}
.verify-code-btn-wrap .btn {
	line-height: 20px;
	min-width: 130px;
	padding: 14px 15px;
	font-size: 17px;
}
form .search-field {
	max-width: 277px;
}
form .search-field input[type="search"] {
	padding: 12px 15px 12px 40px !important;
	font-size: 14px;
	line-height: 16px;
}
.search-field .search-btn {
	left: 15px;
	top: 12px;
}
.graph-title-content-wrap h2 {
	font-size: 20px;
	line-height: 30px;
	margin: 3px 0 0;
}
.tab-inner-wrap .user-img-title-wrap h4 {
	padding-left: 13px;
	font-size: 14px;
}
.user-info .date-info {
	font-size: 12px;
}
.user-info .price-info {
	font-size: 14px;
}
.recent-contact-sec .title-content-wrap {
	padding-bottom: 20px;
}
.extra-links-wrap ul li a {
	font-size: 15px;
	padding: 13px 15px 13px 14px;
}
.arrow-wrap svg {
	width: 7px;
	height: auto;
}
.dashboard-search-wrap .search-field {
	margin-top: 3px;
}
.dashaboard-main-sec {
	padding-right: 25px;
	padding-left: 25px;
}
.tab-inner-wrap ul li .user-info {
	padding: 10px 8px 10px 8px;
}
.tab-inner-wrap ul li .user-info > div {
	padding: 0 6px;
}
.recent-contact-slider .swiper-slide img {
	border-radius: 50%;
	max-height: 77px;
	object-fit: cover;
	max-width: 77px;
}
.send-main-sec, .send-group-main-sec {
	padding-left: 25px;
}
.send-top-sec h3, .send-pay-title-sec h3 {
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 9px;
}
.send-top-sec .title-content-wrap {
	width: 100%;
	padding-bottom: 20px;
}
.send-top-right-sec {
	width: auto;
	padding-left: 0;
	justify-content: flex-start;
}
.main-search-wrap {
	width: auto;
	max-width: 327px;
	margin-right: 15px;
	margin-left: auto;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.add-contact-btn-wrap .btn {
	padding: 8px 15px;
	font-size: 14px;
	line-height: 24px;
	border-radius: 12px !important;
}
.send-main-sec .dashboard-top-sec, .send-group-main-sec .dashboard-top-sec {
	padding-bottom: 30px;
	padding-right: 20px;
}
.send-whom-slider .img-wrap img {
	border-radius: 47%;
	max-height: 96px;
}
.send-whom-slider .img-wrap {
	max-width: 104px;
	max-height: 104px;
	margin: 0 auto 10px;
}
.send-whom-slider .img-wrap::after {
	width: 27px;
	height: 27px;
	background-size: 14px auto;
}
.send-whom-slider .contact-name {
	font-size: 14px;
	padding: 0 4px;
	line-height: 20px;
}
.one-time-pay-main-sec .dashboard-search-wrap {
	width: 62%;
}
.one-time-pay-main-sec .dashboard-notification-sec {
	width: 38%;
	padding-left: 15px;
}
.one-time-pay-main-sec {
	padding: 40px 25px 40px 20px;
}
.one-time-pay-main-sec .dashboard-top-sec {
	padding-left: 30px;
}
.payee-name-img-wrap, .payment-blocks-listing li {
	flex-wrap: wrap;
}
.payment-blocks-listing li > div {
	padding: 0 10px !important;
	margin: 8px 0;
}
.payment-blocks-listing li {
	padding: 10px 5px;
}
.payment-blocks-listing li > div.specification-input {
	min-width: auto;
}
.payment-blocks-inner form .form-field .form-control {
	padding: 10px 11px !important;
	font-size: 14px;
	border-radius: 11px !important;
}
.payment-blocks-inner form .input-select-wrap select.form-control {
	font-size: 15px;
	line-height: 32px;
	padding: 0 20px 0 10px !important;
	max-width: 70px;
}
.payment-blocks-listing .input-select-wrap .selec-wrap {
	right: 14px;
	top: 5px;
}
.payment-blocks-inner form .input-select-wrap .form-control {
	padding-right: 78px !important;
}
.payment-blocks-listing .input-select-wrap {
	max-width: 185px;
}
.payment-blocks-inner form .form-field .form-control::placeholder {
	font-size: 14px;
}
.payment-blocks-inner form .form-field select.form-control::placeholder {
	font-size: 15px;
}
.remove-btn .close-icons {
	width: 35px;
	height: 35px;
}
.remove-btn .close-icons::before, .remove-btn .close-icons::after {
	width: 17px;
	height: 2px;
}
.payment-footer-block {
	padding: 25px 15px;
}
.payment-footer-block ul .payment-footer-col-label {
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 7px;
}
.payment-footer-block .amount {
	font-size: 19px;
	line-height: 21px;
}
.amount-currency-wrap .selec-wrap select {
	font-size: 17px;
	line-height: 24px;
	max-width: 59px;
	padding-right: 22px;
}
.payment-footer-block ul > li:nth-child(2) {
	padding: 0 10px;
}
.pay-btn-wrap {
	padding-top: 27px;
}
.pay-btn-wrap .btn-send-payment {
  margin: 0 15px 0 10px;
  font-size: 14px;
  line-height: 23px;
  padding: 10px 25px;
}
.pay-btn-wrap .btn-cancel-payment, .send-btn-wrap .btn-cancel-payment {
  padding: 9px 16px 10px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 15px !important;
}
.pay-btn-wrap .schedule-pay-btn {
	margin-right: 23px;
}
 .pay-btn-wrap .schedule-pay-btn, .pay-btn-wrap .print-details-btn {
  font-size: 14px;
  line-height: 22px;
}
.payment-blocks-listing li > div.remove-btn {
	padding-right: 10px !important;
}
.group-save-modal-content {
	padding: 40px 30px;
}
.group-save-modal-content .modal-body p {
	padding-bottom: 25px;
}
.group-save-modal-content .modal-body p a {
	font-size: 14px;
	line-height: 24px;
}
.otp-verification-modal-content, .money-sent-modal-content {
	padding: 48px 38px 40px;
}
.modal.fade .modal-dialog {
	border-radius: 30px;
}
.send-group-slider .img-wrap img {
	max-height: 54px;
	max-width: 63px;
}
.send-group-slider .contact-name {
	max-width: 90px;
}
.send-group-slider .img-wrap {
	height: 104px;
}
.request-pay-footer-block .amount {
	font-size: 22px;
	line-height: 20px;
}
.request-pay-footer-block {
	padding: 0 0 0 9px !important;
}
.send-request-money-modal-content {
	padding: 45px 28px 40px;
}
/*20-01-2023*/
}

@media only screen and (max-width:767px) {
.logo-content-wrap h4 {
	font-size: 23px;
	line-height: 30px;
	padding: 38px 0 35px;
}	
.logo-image img {
	max-width: 240px;
}	
.login-signup-content-wrap {
	padding: 25px 20px 30px;
	overflow-y: auto;
	max-height: 90vh;
}
.login-signup-content-wrap h4 {
	margin-bottom: 15px;
	font-size: 25px;
}
.login-logo-image img {
	max-width: 175px;
}
.login-logo-image {
	margin-bottom: 26px;
}
.login-signup-content-wrap h5 {
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 25px;
}
form .form-field .form-control {
	border-radius: 12px !important;
	padding: 12px 15px !important;
	font-size: 14px;
}
form .form-control::placeholder {
	font-size: 14px;
	line-height: 26px;
}
form .form-control:-webkit-placeholder {
	font-size: 14px;
	line-height: 26px;
}
form .form-control:-moz-placeholder {
	font-size: 14px;
	line-height: 26px;
}
a {
	font-size: 14px;
	line-height: 20px;
}
.login-btn input[type="submit"], .btn-primary, .btn {
	font-size: 15px;
	padding: 11px 50px;
	min-width: auto;
	border-radius: 15px !important;
	line-height: 25px;
}
p {
	font-size: 14px;
	line-height: 20px;
}
.login-signup-content-wrap h4.blue-text {
	margin-bottom: 33px;
	font-size: 19px;
}
.login-signup01-content-wrap h5 {
	margin-bottom: 18px;
}
.login-signup01-content-wrap .radio-wrap {
	flex-wrap: nowrap;
	margin-bottom: 40px;
}
.radio-wrap .form-check .form-check-label {
	font-size: 13px;
	line-height: 34px;
	padding: 6px 10px !important;
	border-radius: 15px !important;
}
.radio-wrap .form-check:nth-child(2) label {
	padding: 6px 10px;
}
.upload-profile-image a {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 2px;
	margin-top: 12px;
}
.login-signup-02 .login-signup-content-wrap h5 {
	font-size: 24px;
	line-height: 35px;
	margin-bottom: 9px;
}
.login-signup-02 .login-signup-content-wrap h4.blue-text {
	margin-bottom: 28px;
}
form .form-field .eye-icon img {
	max-width: 17px;
}
form .form-field .eye-icon {
	right: 15px;
	top: 16px;
}
form .form-control[type="password"] {
	padding-right: 35px;
}
.login-signup-02 .login-btn {
	margin-top: 30px;
	margin-bottom: 15px;
}
.upload-profile-image .profile-wrap {
	width: 112px;
	height: 112px;
	border-radius: 40px !important;
}
.login-signup-03 .login-signup-content-wrap h5 {
	padding-top: 6px;
	margin-bottom: 3px;
}
.login-signup-03 .login-signup-content-wrap h4.blue-text {
	margin-bottom: 25px;
}
form .form-field select.form-control {
	background-position: right 14px center;
	background-size: 14px auto;
	padding-right: 32px !important;
}
.login-signup-03 .login-btn .btn:first-child, .login-signup-03 .login-btn .no-bg {
	min-width: 120px;
	padding-left:30px;
	padding-right: 30px;
}
/*sidebar toggle css starts*/
.dashboard-left-wrap .toggle-admin-btn {
	right: -40px;
	top: 10px;
}
.dashboard-left-sec {
	position: fixed;
	left: 0;
	right: auto;
	top: 0;
	bottom: 0;
	margin: auto;
	transform: translateX(-100%);
	transition: all 0.5s ease-in-out;
	width: 100% !important;
	max-width: 221px;
}
.sidebar-open .dashboard-left-sec {
	transform: translateX(0);
}
.sidebar-open .dashboard-link-wrap ul li a {
	font-size: 14px;
	padding: 12.5px 18px 11.5px 20px;
}
.sidebar-open .dashboard-link-wrap ul li a span {
	display: block;
}
.sidebar-open .dashboard-logo-wrap a img {
	max-width: max-content;
}
.sidebar-open .dashboard-logo-wrap .dashaboard-btn {
	padding: 7px 27px 9px;
}
.dashboard-bottom-links {
	margin-top: 20px;
	margin-bottom: auto;
}
.dashboard-link-wrap ul li {
	margin-bottom: 12px;
}
.dashboard-link-wrap ul li a svg {
	margin-right: 15px;
}
.dashboard-link-wrap {
	max-height: calc(100% - 140px);
	overflow-y: auto;
	padding-top: 20px;
}
.dashboard-logo-wrap {
	padding-top: 10px;
	padding-bottom: 15px;
}
/*sidebar toggle css close*/
.dashboard-right-sec {
	width: 100%;
	padding: 50px 15px;
}
.profile-bottom-info-sec ul li {
	font-size: 14px;
	line-height: 18px;
}
.profile-qr {
	max-width: 225px;
	margin: 40px auto 0;
}
.profile-info-right-desc .edit-button {
	margin-left: 15px;
}
.profile-bottom-info-sec ul li {
	padding: 8px 13px 8px 13px;
}
.profile-info-right-desc {
	word-break: break-word;
	justify-content: flex-end;
	text-align: right;
	align-items: center;
}
.profile-info-right-desc .edit-button {
	margin: 5px 0 5px 15px;
	margin-left: auto;
}
.profile-bottom-info-sec ul li:not(:last-child) {
	margin-bottom: 10px;
}
.settings-bottom-info-sec ul li {
	padding: 10px 15px;
	border-radius: 13px;
}
.icon-settings {
	margin-right: 11px;
	width: 36px;
	height: 36px;
}
.icon-wrap {
	font-size: 14px;
}
.icon-settings svg {
	max-height: 20px;
}
.settings-inner-sec .profile-info h3 {
	margin-bottom: 7px;
}
.settings-bottom-info-sec ul li:not(:last-child) {
	margin-bottom: 15px;
}
.settings-note-inner-sec .profile-info {
	padding-bottom: 18px;
}
.settings-notifications-bottom-info-sec ul li {
	padding: 10px 20px;
	font-size: 14px;
	border-radius: 13px;
}
.setting-btn-link a {
	border-radius: 12px;
	padding: 10px 20px 10px 18px;
	font-size: 15px;
}
.setting-btn-link a svg {
	margin-right: 10px;
	max-width: 6px;
}
.settings-notifications-bottom-info-sec ul {
	padding-bottom: 33px;
}
.settings-notifications-bottom-info-sec ul li:not(:last-child) {
	margin-bottom: 15px;
}
.settings-edit-profile-top-sec .profile-info {
	padding-top: 32px;
}
.settings-edit-profile-top-sec .upload-profile-image a {
	margin: 5px 0 0;
	font-size: 13px;
	line-height: 16px;
}
.settings-edit-profile-top-sec {
	padding-bottom: 25px;
}
.currency-wrap {
	font-size: 18px;
	line-height: 24px;
	padding: 0px 0 20px;
}
.settings-profile-bottom-info-sec .setting-btn-link {
	padding-right: 15px;
}
.settings-profile-bottom-info-sec .login-btn input[type="submit"] {
	min-width: auto;
	font-size: 13px;
	padding: 14px 20px;
	line-height: 18px;
}
.business-info-sec .profile-info {
	padding: 0 0 10px;
}
.business-url-field p, .business-id-field p {
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 9px;
}
.business-id-field p {
	padding-top: 6px;
}
.business-info-bottom-sec .login-btn {
	padding-top: 13px;
}
.settings-password-right-sec .settings-note-inner-sec .profile-info {
	padding-bottom: 10px;
}
.settings-password-bottom-info-sec .login-btn {
	padding-top: 14px;
}
.settings-password-bottom-info-sec .login-btn input[type="submit"] {
	min-width: auto;
	font-size: 12px;
	padding: 13px 13px;
	line-height: 18px;
	border-radius: 12px;
}
.forgot-pass-btn-wrap .setting-btn-link > a, .settings-password-bottom-info-sec .setting-btn-link > a {
	font-size: 14px;
	padding: 9px 16px 9px 16px;
}
.settings-profile-bottom-info-sec .setting-btn-link {
	padding-right: 10px;
}
.settings-password-bottom-info-sec .nav-tabs .nav-link {
	font-size: 15px;
	line-height: 19px;
}
.settings-password-bottom-info-sec .nav-tabs {
	padding-bottom: 25px;
}
.settings-password-bottom-info-sec .nav-tabs .nav-link:not(:last-child) {
	margin-right: 30px;
}
.form-check-input[type="radio"], .login-signup-content-wrap .radio-wrap {
	border-radius: 10px !important;
}
/*20-01-2023*/
.settings-password-bottom-info-sec .reset-form .forgot-pass-btn-wrap input[type="submit"] {
	min-width: auto;
}
.modal-content {
	padding: 30px 20px 30px;
	border-radius: 20px;
	max-height: 85vh;
	overflow-y: auto;
}
form.verification-code-form .form-field .form-control {
	max-width: 45px;
	font-size: 17px;
	line-height: 20px;
	padding: 11.5px 10px !important;
	margin: 0 6px;
}
.modal-body h3 {
	font-size: 22px;
	line-height: 24px;
	padding-bottom: 8px;
}
.modal-body p {
	font-size: 15px;
	line-height: 22px;
	padding: 0 0 20px;
}
.verification-code-form .form-field, .money-sent-contacts-wrap {
	margin-bottom: 27px;
}
.verify-code-btn-wrap .btn {
	line-height: 18px;
	min-width: 110px;
	padding: 12px 15px;
	font-size: 15px;
}
.btn.close-modal {
	min-width: 30px !important;
	right: 5px;
	top: 5px;
	padding: 2px 14px;
}
.btn.close-modal::after {
	font-size: 18px;
}
.modal-dialog {
	border-radius: 20px;
}
.graph-title-content-wrap h2 {
	font-size: 18px;
	line-height: 30px;
	margin: 6px 0 4px;
}
.graph-title-content-wrap p, .dashboard-card-sec p {
	font-size: 13px;
}
.recent-contact-sec .title-content-wrap h3, .recent-activity-sec .title-content-wrap h3 {
	font-size: 19px;
	line-height: 22px;
}
.activity-tab-wrap .nav-tabs .nav-link {
	font-size: 15px;
	line-height: 19px;
	padding: 0 0 14px;
	margin-bottom: -2.5px;
	margin-right: 17px;
}
.calendar-sec {
	top: 16px;
}
.view-history-btn > a {
	padding: 10px 16px;
	font-size: 13px;
	line-height: 17px;
	border-radius: 8px;
}
.user-image-wrap {
	margin-left: 15px;
}
.recent-contact-slider .swiper-slide img {
	max-height:86px;
	max-width:86px;
}
.recent-contact-slider .swiper::after {
	right: 0;
	height: 112px;
	width: 60px;
}
.send-main-sec .dashboard-top-sec, .send-group-main-sec .dashboard-top-sec {
	padding-right: 0;
}
.send-top-sec {
	padding-right: 0;
}
.main-search-wrap {
	width: calc(100% - 160px);
	max-width: 327px;
	margin-right: 15px;
	margin-left: 0;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.main-search-wrap form .search-field {
	max-width: 100%;
}
.main-search-wrap form {
	width: 100%;
}
.send-top-right-sec {
	width: 100%;
	padding-left: 0;
	justify-content: flex-start;
}
.send-whom-slider .swiper-button-next, .send-whom-slider .swiper-button-prev {
	right: 3px;
}
.send-whom-slider .swiper-button-prev {
	right: 35px;
}
.send-whom-slider .swiper-horizontal > .swiper-scrollbar, .send-whom-slider .swiper-scrollbar.swiper-scrollbar-horizontal {
	width: calc(100% - 65px);
}
.payment-blocks-listing .input-select-wrap {
	max-width: 168px;
}
.payment-blocks-listing li > div {
	padding: 0 6px !important;
	margin: 8px 0;
}
.payment-blocks-listing li > div.remove-btn {
	padding-right: 6px !important;
	margin: 0 0 0 auto;
}
.one-time-pay-main-sec .dashboard-top-sec {
	padding: 0;
}
.payment-blocks-listing li {
	padding: 6px 5px;
}
.payment-footer-block .amount {
	font-size: 18px;
	line-height: 20px;
}
.payment-footer-block ul .payment-footer-col-label {
	font-size: 15px;
	line-height: 20px;
	padding: 0 0 6px;
}
.payment-footer-block {
	padding: 22px 12px;
}
.payment-blocks-listing .input-select-wrap .selec-wrap::after, .amount-currency-wrap .selec-wrap::after {
	right: 4px;
}
.payment-blocks-listing {
	padding-bottom: 25px;
}
.payment-blocks-inner form .form-field .form-control::placeholder {
	font-size: 13px;
}
.group-save-modal-content .modal-body p {
	padding-bottom: 20px;
}
.group-save-modal-content form .form-field {
	margin-bottom: 30px;
}
.modal-save-group {
	max-width: 440px;
	height: auto;
	min-width: 340px;
}
.save-group-form .verify-code-btn-wrap .btn {
	min-width: 132px;
	font-size: 14px;
	line-height: 23px;
	padding: 11px 20px;
}
.group-add-modal .modal-dialog {
	width: calc(100% - 30px);
	min-width: auto;
}
.otp-verification-modal-content .modal-body p {
	max-width: 360px;
	margin: 0 auto;
}
.modal.fade .modal-dialog {
	border-radius: 20px;
}
.modal-content {
	border-radius: 20px;
}
.request-main-sec .send-top-sec .title-content-wrap {
	width: 100%;
}
.request-main-sec .send-top-right-sec {
	width: 100%;
}
.request-main-sec .main-search-wrap {
	margin: 0 auto 0 0 !important;
	width: 100%;
	justify-content: flex-start;
	max-width: 320px;
}
.request-pay-footer-block .amount {
	font-size: 22px;
	line-height: 20px;
}
.request-pay-footer-block .amount .request-currency {
	margin-left: 3px;
}
.send-request-money-modal-content .modal-header {
	padding: 0 0 16px;
}
.send-request-money-modal-content .code-lock-icon svg {
	max-width: 73px;
	height: auto;
}
/*20-01-2023*/
}

@media only screen and (max-width:575px) {
.logo-content-wrap h4 {
	font-size: 20px;
	line-height: 25px;
	padding: 30px 0 35px;
}	
.logo-image img {
	max-width: 200px;
}
.profile-info-right-desc .edit-button {
	margin: 5px 0 5px 15px;
	margin-left: auto;
}
.profile-info-right-desc {
	width: calc(100% - 110px);
	word-break: break-all;
	text-align: right;
	align-items: center;
	justify-content: flex-end;
}
/*20-01-2023*/
.recent-contact-slider .swiper-slide img {
	max-height:49px;
	max-width:49px;
}
.recent-contact-slider .swiper::after {
	right: 0;
	height: 82px;
	width: 30px;
}
.send-main-sec .dashboard-top-sec, .send-group-main-sec .dashboard-top-sec {
	padding-bottom: 25px;
	padding-right: 0;
}
.add-contact-btn-wrap .btn {
	padding: 8px 15px;
	font-size: 13px;
	line-height: 24px;
	border-radius: 12px !important;
}
.send-top-sec {
	padding-bottom: 30px;
	padding-right: 0;
}
.main-search-wrap {
	width: calc(100% - 150px);
	max-width: 327px;
	margin-right: 10px;
	margin-left: 0;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.send-top-right-sec {
	width: 100%;
	padding-left: 0;
	justify-content: flex-start;
}
.main-search-wrap form {
	width: 100%;
}
.main-search-wrap form .search-field {
	max-width: 100%;
}
.send-whom-slider .contact-name {
	font-size: 14px;
	padding: 0 7px;
	line-height: 20px;
}
.send-btn-wrap {
	padding-top: 30px;
}
.send-btn-wrap .btn-group-payment, .pay-btn-wrap .btn-cancel-payment, .send-btn-wrap .btn-group-cancel, .send-btn-wrap .btn-cancel-payment {
	padding: 7px 16px 8px;
	font-size: 14px;
	line-height: 24px;
	border-radius: 15px !important;
}
.send-btn-wrap .btn-next, .pay-btn-wrap .btn-send-payment {
	margin: 0 12px 0 12px;
	font-size: 14px;
	line-height: 19px;
	padding: 11px 34px;
}
.send-btn-wrap .save-group-btn, .pay-btn-wrap .schedule-pay-btn, .pay-btn-wrap .print-details-btn {
	font-size: 14px;
	line-height: 18px;
	margin: 15px 0;
}
.send-btn-wrap .save-group-btn svg, .pay-btn-wrap .schedule-pay-btn svg, .pay-btn-wrap .print-details-btn svg {
	margin-right: 10px;
}
.send-whom-slider .swiper-wrapper {
	padding-bottom: 40px;
}
.payment-blocks-listing li > div.specification-input {
	min-width: 285px;
	max-width: 320px;
}
.payment-footer-block ul li {
	padding: 10px;
}
.payment-footer-block ul > li:nth-child(2) {
	padding: 10px;
}
.payment-footer-block {
	padding: 17px 10px;
}
.pay-btn-wrap .schedule-pay-btn, .pay-btn-wrap .print-details-btn {
	margin: 10px 5px !important;
}
.pay-btn-wrap .btn-send-payment, .pay-btn-wrap .btn-cancel-payment, .send-btn-wrap .btn-cancel-payment {
	margin: 10px 5px;
}
.send-group-main-sec .main-search-wrap {
	width: 100%;
	max-width: 327px;
}
}