.default {
  z-index: 999999;
  //   background: url("../../public/assets/images/bg-body-transparent.png");
  background-position: center;
  background-color: #3f3f3f90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotcontainer {
  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
  }
}
