@import url("./styles/css/style.css");
@import url("./styles/css/responsive.css");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100vh;
}

.cursor-auto {
  pointer-events: visible !important;
  cursor: auto !important;
}
.cursor-default {
  pointer-events: visible !important;
  cursor: default !important;
}
.cursor-pointer {
  pointer-events: visible !important;
  cursor: pointer !important;
}
.cursor-wait {
  pointer-events: visible !important;
  cursor: wait !important;
}
.cursor-text {
  pointer-events: visible !important;
  cursor: text !important;
}
.cursor-move {
  pointer-events: visible !important;
  cursor: move !important;
}
.cursor-help {
  pointer-events: visible !important;
  cursor: help !important;
}
.cursor-not-allowed {
  pointer-events: visible !important;
  cursor: not-allowed !important;
}
.resend-otp-wrap {
  text-align: center;
  width: 100%;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #5b5b5b;
  margin-bottom: 25px;
}
.resend-otp-wrap span:first-child {
  color: #ff3333;
  font-weight: 700;
  margin-bottom: 10px;
}
.resend-otp-wrap p {
  margin-top: 10px;
  padding: 0px !important;
  margin: 15px 0px 10px;
  font-size: 18px;
  line-height: 22px;
}
.resend-otp-wrap button.disabled {
  color: #9d9d9d;
  pointer-events: none;
}
.resend-otp-wrap button {
  cursor: pointer;
  font-weight: 700;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: #0081c5;
}
.resend-otp-wrap button:hover {
  color: #363853;
}
.upload-profile-image .profile-wrap {
  border-radius: 50% !important;
}
.invited-contacts-img {
  max-width: 33px;
}
.invited-con-mail {
  min-width: 300px;
}
.invited-con-info {
  display: flex;
  align-items: center;
}
.common-body-bg {
  padding-top: 30px;
  padding-bottom: 30px;
}
.wallet-acc-fund-btns .btn-wrap .btn {
  line-height: 22px !important;
}
.wallet-acc-fund-btns .btn-wrap input.btn {
  border: 1px solid #363853;
}
.wallet-acc-fund-btns .btn-wrap input.btn:hover {
  border: 1px solid #0080c4;
}
